.portfolio {
    height: 600px;
    &__id {
        display: block;
        position: relative;
        top: -100px;
        visibility: hidden;
    }
    &__title {
        position: absolute;
        margin-top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__wrapper {
        position: absolute;
        width: 970px;
        margin-top: 150px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__item {
        position: relative;
        height: 350px !important;
        padding: 25px;
        background-color: #fff;
        &-img {
            img {
                width: 100%;
                height: 204px;
            }
        }
        &-descr {
            font-weight: 700;
            margin-top: 20px;
            text-align: justify;
        }
        &-icon {
            position: absolute;
            bottom: 10px;
            right: 25px;
            width: 30px;
            height: 30px;
            img {
                width: 100%;
            }
        }
    }
}

#particles-js {
    width: 100%;
    height: 100%;
    background-color: $main-color;
}