.promo {
    position: relative;
    background-color: $main-color;
    padding-top: 150px;
    height: 100vh;
    &__wrapper {
        width: 1140px;
        display: flex;
        justify-content: space-between;
    }
    &__text {
        margin-top: 70px;
    }
    &__title {
        font-size: 40px;
        span {
            text-decoration: line-through;
            text-decoration-color: $second-color;
        }
    }
    &__subtitle {
        font-size: 30px;
    }
    &__frontend {
        font-weight: 200;
        font-style: italic;
        font-size: 30px;
        line-height: 15px;
        margin-left: 278px;
        color: $second-color;
    }
    &__descr {
        width: 655px;
        margin-top: 40px;
        color: #fff;
        font-weight: 300;
        font-size: 16px;
    }
    &__btns {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 350px;
    }
    &__link {
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        &:hover {
            text-decoration: none;
        }
    }
    &__img {
        width: 450px;
        img {
            width: 100%;
        }
    }
    &__horizontal {
        position: absolute;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, $second-color, #fff);
        bottom: 50px;
    }
}